<h1>Products</h1>
<div>
<table>
<% @product.each do |id, quantity| %>
     <% item = Item.find(id) %>
     <tr>
         <td width="60"><%= image_tag item.image %></td>
         <td width="60"><%= item.title %></td>
         <td width="60"><%= quantity %></td>
         <td width="60"><%= number_to_currency item.price * quantity, :unit => "R;" %></td>
     </tr>
     <%total += quantit + item.price %>
		<% end %>
		<tr>
           <td colspan ="4"> Total: </td>
           <td><% number_to_currency total, :unit =>"R;" %></td>
		</tr>

</table>
</div>
	
